@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: "poppins", "sans-serif";
    background-color: #827397;
    
}

.container{
    padding: 20px;
    border: 1px solid #BCB9B8;
    border-radius: 20px;
    background-color: #E9D5CA;
    box-shadow: 5px 1px 5px 0px #827397;
    width: 40%;
    margin: auto;
}

.container .input{
    width: 87%;
    height: 20px;
}

.container .btn{
    width: 50px;
    height: 25px;
}

.container ul{
    list-style: none;
    padding: 0px;
}

.container li{
    color: #363062;
}

.container li a{
    float: right;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.container #error{
    color: red;
    font-size: 14px;
}