@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
}
.slider-section{
    height: 500px;
    background-size: cover;
}
.sub-title{
    font-weight: 400; 
    color:white;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 100px;

    

}
.sub-title h4{ 
   line-height: 1.4;
    font-size: 30px;
    font-style: italic 
}
  

.sub-title h1{
    font-size: 50px;
}

.relative{
    position: relative;
}
.slider-containt{
        color: antiquewhite;
        padding-top: 0px;
        padding-bottom: 50px;
        padding-left: 100px;
        padding-right:100px

}

.btn-red{
    padding: 8px 20px;
     background: red;
        color: rgb(49, 2, 2);
        border: 2px solid red;
        border-radius:0px;
        text-shadow: 2px 1px 17px rgba(0,0,0,0.43);
}
 


}
